.body {
    color: #FFFFFF;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    gap: 20px;
}

ul {
    padding: 0;
    list-style: none;
}